In [2]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
from src.utils.data_loader import fetch_yfinance_data

# Fetch WTI Crude (CL=F)
wti = fetch_yfinance_data(
    ticker="CL=F",
    start="2015-01-01",
    end="2024-12-31",
    save_path="data/raw/wti_crude.csv"
)

# Fetch Crude Implied Volatility (^OVX)
ovx = fetch_yfinance_data(
    ticker="^OVX",
    start="2015-01-01",
    end="2024-12-31",
    save_path="data/raw/ovx.csv"
)

c:\Users\therd\2_Python_project\crude_inventory_optimization\src\utils\data_loader.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
c:\Users\therd\2_Python_project\crude_inventory_optimization\src\utils\data_loader.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start, end=end)
[*********************100%***********************]  1 of 1 completed

In [4]:
wti.head()

Price           Close       High        Low       Open  Volume
Ticker           CL=F       CL=F       CL=F       CL=F    CL=F
Date
2015-01-02  52.689999  55.110001  52.029999  53.759998  268708
2015-01-05  50.040001  52.730000  49.680000  52.610001  375782
2015-01-06  47.930000  50.369999  47.549999  50.000000  451642
2015-01-07  48.650002  49.310001  46.830002  48.000000  460083
2015-01-08  48.790001  49.650002  47.730000  48.779999  362081